# Project Proposal

## Title

## Introduction

(If we ues the hoursepower and the cylinders)

Cars with different number of cylinders have different horsepower. We are interested in the different impact on hoursepower between the cars with 4 cylinders and 6 cylinders. Our question is :" Does the different number of cylinders have a different effect on horsepower?" We will answer this question by analysing the mean (the location parameter) and the standard deviation (the scale parameter) of the hoursepower and how it differs with the different number of cylinders.

Previous research metioned that the efficiencies and the horsepowers of the motor are related to the volume of the cylinder (Millner, 2002). However, there are few and limited studies on cylinder numbers and horsepower.

Our data set is the Auto MPG data set, which was obtained from Carnegie Mellon University's StatLib library. The 1983 American Statistical Association Exposition also made use of this dataset.

Attribute informations:

|Variables|Attribute|
|:---:|:---:|
|mpg|continuous|
|cylinders|multi-valued discrete|
|displacement|continuous|
|horsepower|continuous|
|weight|continuous|
|acceleration|continuous|
|model year|multi-valued discrete|
|origin|multi-valued discrete|
|car name|string (unique for each instance)|

## Preliminary Results

## Load Packages

In [1]:
library(tidyverse)
library(infer)
library(repr)
library(cowplot)
library(datateachr)
library(digest)
library(dplyr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Load Data

In [2]:
download.file("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", 
              "auto-mpg.data")

In [3]:
cars <- read.table("auto-mpg.data") 
head(cars)

  V1 V2 V3  V4    V5   V6   V7 V8 V9
1 18 8  307 130.0 3504 12.0 70 1  chevrolet chevelle malibu
2 15 8  350 165.0 3693 11.5 70 1  buick skylark 320
3 18 8  318 150.0 3436 11.0 70 1  plymouth satellite
4 16 8  304 150.0 3433 12.0 70 1  amc rebel sst
5 17 8  302 140.0 3449 10.5 70 1  ford torino
6 15 8  429 198.0 4341 10.0 70 1  ford galaxie 500

## Clean And Wrangle The Data

1. name the variables and clean the data.

In [5]:
cars <- read.table("auto-mpg.data")%>%
    rename(mpg = V1,
           cylinders = V2,
           dispacement = V3,
           horsepower = V4,
           weight = V5,
           acceleration = V6,
           model = V7,
           origin = V8,
           name = V9) %>%
    mutate(horsepower = as.numeric(horsepower),
           cylinders = as.factor(cylinders))%>%
    filter(!is.na(mpg),
           !is.na(horsepower),
           !is.na(acceleration),
           cylinders %in% c(8,6,4))
head(cars)

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

  mpg cylinders dispacement horsepower weight acceleration model origin
1 18  8         307         130        3504   12.0         70    1
2 15  8         350         165        3693   11.5         70    1
3 18  8         318         150        3436   11.0         70    1
4 16  8         304         150        3433   12.0         70    1
5 17  8         302         140        3449   10.5         70    1
6 15  8         429         198        4341   10.0         70    1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

2. select the sariables we are interested in and calculate the parameters we will use.

In [6]:
cars_summ_hp <- cars %>% 
    select(cylinders, horsepower) %>%
    group_by(cylinders) %>%
    summarize(sample_size = n(),
              mean = mean(horsepower),
              sd = sd(horsepower),
              minimum = min(horsepower),
              lower_quartile = quantile(horsepower, 0.25),
              median = median(horsepower),
              upper_quartile = quantile(horsepower, 0.75),
              max = max(horsepower))
cars_summ_hp

  cylinders sample_size mean      sd       minimum lower_quartile median
1 4         199          78.28141 14.52310 46       68.0           78
2 6          83         101.50602 14.31047 72       92.5          100
3 8         103         158.30097 28.45355 90      140.0          150
  upper_quartile max
1  88            115
2 110            165
3 175            230

## Method : Plan

## Reference

A. R. Millner, "Multi-hundred horsepower permanent magnet brushless disc motors," Proceedings of 1994 IEEE Applied Power Electronics Conference and Exposition - ASPEC'94, 1994, pp. 351-355 vol.1, doi: 10.1109/APEC.1994.316378.